@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@font1 : 'Open Sans', sans-serif;
@import "style.less";

#profilesect1{
	font-family: @font1;
}

#profilesect1 h1{
font-size: 2.5em;
color: white;
font-weight: 300;
}

#profilesect1 li{
list-style: none;
font-size: 1.2em;
color: white;
font-weight: 300;
}

#profilesect1 li span{
font-weight: 700; 
}

#gallery{
padding-top: 30px;
}
#gallery img{
margin-bottom: 10px;
}
#form{
color: red;
}
#form h1{
color: white;
font-size: 16px;
}

#comentario{
font-family: @font1;
color: white;
font-size: 1.2em;
font-weight: 700;
}