@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@font1 : 'Open Sans', sans-serif;
@import "style.less";

#profilesect1{
	font-family: @font1;
}

#profilesect1 h1{
font-size: 2.5em;
color: white;
font-weight: 300;
}

#profilesect1 li{
list-style: none;
font-size: 1.2em;
color: white;
font-weight: 300;
}

#profilesect1 li span{
font-weight: 700; 
}

#gallery{
padding-top: 30px;
}
#gallery img{
margin-bottom: 10px;
}
#form{
color: red;
}
#form h1{
color: white;
font-size: 16px;
}

#comentario{
font-family: @font1;
color: white;
font-size: 1.2em;
font-weight: 700;
}
#block{background:#D225CD}
#recomendadas{font-family:'Open Sans',sans-serif;color:#fff}

#recomendadas p{text-align:center;padding-top:20px;font-size:20px;font-weight:700}

#recomendadas img{padding:0;margin:0;transition-duration:.5s}

#recomendadas img:hover{border-radius:2em}

#recomendadas h1{text-align:center;padding:5px 0 0;margin:0;font-size:16px}

#recomendadas div{padding-bottom:15px;padding-top:15px;background:#D225CD;transition-duration:.5s}

#recomendadas div:hover{padding-bottom:15px;padding-top:15px;background:#A2179D;border-radius:2em}