@import "style.less";

#profilesect1{
	font-family: @font1;
}

#profilesect1 h1{
font-size: 2em;
color: white;
font-weight: 300;
}

#profilesect1 li{
list-style: none;
font-size: 1.5em;
color: white;
font-weight: 300;
}

#profilesect1 li span{
font-weight: 700; 
}