@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@font1 : 'Open Sans', sans-serif;
body{
	background: #2c3e50;
}
#productbg{
	background: url("../img/bg1m.jpg") ;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.blanco{
	background: white;
}
#menu{
font-family: @font1;
border-radius: 0.6em;
background: white;

}
#menu p{
padding: 0px;
margin: 0px;
}
.link-menu{
background: #8e44ad;
color: white;
padding: 15px;
font-size: 1em;
}
.link-menu:hover{
background: #2980b9;
}


.logo{
padding: 15px;
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

#section1{
font-family: @font1;
color: white;
margin-top: 5px;
margin-bottom: 5px;

}
#section1 img{
}
#section1 h1{
text-align: center;
margin: 0px;
font-size: 2em;
}
#section1 p{
text-align: center;
margin: 0px;
font-size: .8em;
}


#section2{
font-family: @font1;
color: white;
margin-top: 10px;
margin-bottom: 10px;
}
#section2 h1{
text-align: center;
margin: 0px;
font-size: 2em;
}
#section2 p{
text-align: center;
margin: 0px;
font-size: 1em;
}


#section3{
font-family: @font1;
color: white;
margin-top: 10px;
margin-bottom: 10px;
}
#section3 h1{
text-align: center;
margin: 0px;
font-size: 2em;
}
#section3 p{
text-align: center;
margin: 0px;
font-size: 1em;
}

#cover{
font-family: @font1;
color: white;
margin-top: 5px;
margin-bottom: 5px;
}
#cover p{
text-align: center;
margin: 0px;
font-size: 1em;
}




